
.container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 50px 30px 0 30px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #79031d;
  max-width: 100vw;
  justify-content: center;
  align-content: center;
  /* gap:5%; */

  
}


.block {
  /* grid-template-columns: auto auto auto; */
  width: 400px;
  height: 400px;
  margin: 30px 30px 30px 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F5f7f7;
  
}



.return {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #edb518;
  border-radius: 10px;
  width:100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:10px;
  margin: 5px;
}

.image{
  max-height: 200px;
  max-width: 300px;
}
