.links{
  color: #F5f7f7; 
  text-decoration: none; 
  margin-right: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  
}

.navContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    background-color: #000407;
    color: #F5f7f7;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);


    
    
}

.navContainer h1 {
    margin: 0;
  }

  .navContainer div {
    display: flex;
    gap: 50px;
}


